<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Hacktiv8</p>
        <p class="m-0 text-center text-white">Infinite Fox: Indra Aditya, Andreas Holiwono</p>
    </div>
    <!-- /.container -->
</footer>